{% extends '_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'home/category.css' %}">
{% endblock %}

{% block title %}
    صفحه اصلی
{% endblock %}
{% block body %}
    {% for cat in category %}
        <div class="card">
           <a href="{% url 'Products:category' cat.slug cat.id %}">
                <h1>{{ cat.name }}</h1>
                <img src="{{ cat.image.url  }}" width="400" alt="{{ cat.name }}" title="عکس دسته بندی موبایل">
           </a>
        </div>

    {% endfor %}
{% endblock %}