<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                       href="{% url 'Products:products' %}">Main page</a>
                </li>
                {% if user.is_authenticated %}
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'accounts:logout' %}">Exit</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'cart:orders_detail' %}">Shopping cart</a>
                    </li>
                {% else %}

                    <li class="nav-item">
                        <a class="nav-link " href="{% url 'accounts:login' %}">ورود</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="{% url 'accounts:user_register' %}">ثبت نام</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link "
                           href="{% url 'Products:home' %}">home</a>
                    </li>
                {% endif %}
            </ul>

        </div>
    </div>
</nav>